<template>
  <home-layout>
    <b-container class="pt-5">
      <h1 class="text-center">I'm David Miles</h1>
      <br />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum incidunt
        praesentium fuga odio. Quia distinctio atque vero quam, obcaecati delectus quo, perspiciatis
        voluptate cum aperiam iusto natus neque quas.
      </p>
      <!-- Grid system start here -->
      <div>
        <b-row>
          <b-col cols="12" sm="12" md="6" lg="6" v-for="(item, index) in items" :key="index">
            <b-card class="">
              <b-card-text class="text-center">
                <h4>{{ item.title }}</h4>
              </b-card-text>
              <b-card-body>
                <p>
                  {{ item.content }}
                </p>
              </b-card-body>
            </b-card>
            <br />
          </b-col>
        </b-row>
      </div>
      <!-- End here -->
    </b-container>
  </home-layout>
</template>

<script>
import HomeLayout from "../../layout/HomeLayout.vue";
export default {
  components: {
    HomeLayout,
  },
  data() {
    return {
      items: [
        {
          title: "Fugiat voluptatum incidunt",
          content:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum incidunt",
        },
        {
          title: "quick example text to build",
          content:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum incidunt",
        },
        {
          title: "quick example text to build",
          content:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum incidunt",
        },
        {
          title: "sit amet consectetur adipisicing ",
          content:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum inciduntLorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum incidunt",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped></style>
