<template>
  <div>
    <comp />
  </div>
</template>

<script>
import comp from "../components/comp.vue";
export default {
  components: {
    comp,
  },
};
</script>

<style scoped>
.image {
  width: 20%;
  height: 200px;
}
</style>
