<template>
  <div class="p-5">
    <h1>hello world</h1>
    <b-button style="background-color:#573e7c">Button</b-button>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
