<template>
  <div class="p-5">
    <center>
      <h2>Todo app</h2>
      <!-- {{ newTodo }} -->
      <div class="pb-3">
        <input type="text" v-model="newTodo" />
      </div>

      <button @click="addTodo">addTodo</button>

      <button @click="markAll">mark all</button>
    </center>
    <br />

    <div>
      <h3>Listing all todos</h3>

      <div>
        <ol>
          <li v-for="(todo, index) in todos" :key="index">
            <input type="checkbox" v-model="todo.done" />
            <span :class="{ done: todo.done }"> {{ todo.title }}</span>
            <button @click="remove(todo)">del</button>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTodo: "",

      todos: [],
    };
  },
  methods: {
    addTodo() {
      this.todos.push({
        title: this.newTodo,
        done: false,
      });
      this.newTodo = "";
    },
    remove(todo) {
      //   this.todos = this.todos.filter((newTodo) => newTodo.title == !todo.title);

      const deleteTodo = this.todos.indexOf(todo);
      this.todos.splice(deleteTodo, 1);
    },

    markAll() {
      this.todos.forEach((todo) => {
        todo.done = true;
      });
    },
  },
};
</script>

<style scoped>
.done {
  text-decoration-line: line-through;
}
</style>
